body {
	background-color: powderblue;
}

section {
	border: 5px dotted goldenrod;
}

.instructor {
	background-color: gainsboro; 
}

#lauren {
	background-color: palevioletred;
}

#lauren > h1 {
	text-transform: uppercase;
}

#instructors-love .title ~ li {
	list-style: none;
}

#instructors-love ul:first-of-type li:nth-child(3){
	color: white;

}